<!DOCTYPE html>
<html lang="en">
<head>
  <script>history.replaceState(null, null, location.href + '{{{query}}}')</script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:image" content="" /> <!--AE_MOD -->
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta name="description" content="" />
  <meta name="twitter:title" content="" />
  <meta name="twitter:description" content="" />

  <link href="{{iconB64}}" media="(device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" rel="apple-touch-startup-image">

  {{{head}}}

  <title>Document</title>
  <link rel="shortcut icon" href="{{iconB64}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{iconB64}}" type="image/x-icon">

  <!-- iOS PWA Tags -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link id="appJS" src=""/>
</head>

{{{body}}}
</html>